{% extends 'knights_sword.html' %}

{% block item_page_title %}Aphrodite's Belt{% endblock %}

{% block header %}The Belt of Aphrodite{% endblock %}

{% block image %}src="/media/images/painting-aphrodite.png"{% endblock %}
{% block image_info %}The Birth of Venus by Sandro Botticelli (1484–1486){% endblock %}

{% block image_two %}src="/media/images/aphrodite-temple.png"{% endblock %}
{% block image_info_two %}The remains of Aphrodite's temple (2017){% endblock %}

{% block p1 %}The magical belt of Aphrodite had the power to inspire the passion of desire. The Greek goddess Hera - the goddess of marriage - occassionally borrowed it from Aphrodite to reunite quarrelling spouses in love and to inspire the bridal contests of suitors.{% endblock %}

{% block p2 %}Many Gods, Demi-Gods and citizens of Greece called and prayed upon Aphrodite for the use of the power from her belt to win over the their loves, and to bond them together for life. Some called upon her as it could be used to for an everlasting bond and friendship with friends and loved ones.{% endblock %}

{% block p3 %}The belt was never seen during its prime in Ancient Greece as its power was potent enough for the goddess to grant those asking for its use the energy from the belt; Aphrodite only leant it to the Goddess Hera. However, over the many years of its uses, the belt's power began to lessen and its effects on people under its spell expired over time. Its final use came when a dying mother of a new born child came to Aphrodites temple.{% endblock %}

{% block p4 %}She prayed in such desperation that someone would take her baby and raise it as their own with all the love and care humanly possible, did Aphrodite grant the woman with the physical form of the belt itself and instructed her to wrap the child with it. Craddling the baby in her arms the woman died overnight at the altar of Aphrodite's temple. The mother and baby were found early the next morning by a goat herder, who took the baby in and cared for it just as the woman had wished for. The belt had been kept within the family for hundred of years as an heirloom, until finally the last member of the family - who had no children - passed away.{% endblock %}

{% block p5 %}Aphrodite's belt is up for auction. It no longer pertains its powers today, but is physical evidence as a gift from the Olympian Greek Gods{% endblock %}