{% extends 'knights_sword.html' %}

{% block item_page_title %}Excalibur{% endblock %}

{% block header %}The Sword of King Arthur{% endblock %}

{% block image %}src="/media/images/sword-in-stone.jpeg"{% endblock %}
{% block image_info %}The Sword in The Stone (Exclibur - concept art){% endblock %}

{% block image_two %}src="/media/images/king-arthur.jpeg"{% endblock %}
{% block image_info_two %}King Arthur (Ruled late 5th - early 6th cent){% endblock %}

{% block p1 %}Excalibur is the legendary sword of King Arthur, which is also attributed with magical powers and supposedly associated with the rightful sovereignty of Britain. Excalibur and the Sword in the Stone are sometimes said to be the same weapon.{% endblock %}

{% block p2 %}The sword has been identified with a single hero and should not be allowed to fall into the hands of an enemy owing to its inherent power. When Arthur died of his wounds following his battle with Mordred, it should have been returned to its source, the Lady of the Lake, rather than being entrusted to whichever knight - no matter how noble - might succeed Arthur as king. This rule did not hold true as Arthur presented the sword to a knight named Sir Gawain, who then loaned it to Sir Lancelot for his defense of Guinevere. Gawain then returned the sword to King Arthur for his final battle with Mordred and, afterwards, returned it to The Lady of The Lake.{% endblock %}

{% block p3 %}The sword posses power as during a battle between the Saxons and Britons, The Saxons held the high ground and inflicted heavy casualties on the Britons. The Saxons continued to hold their position until the day was almost gone before Arthur had enough, and lead a final charge on their position himself. Drawing Excalibur he called upon God and slew his enemies, one by one, with a single blow to each. He did not once slacken in his onslaught until he had slain four hundred and seventy men single-handedly. This, when the Britons beheld, they followed him up in close rank dealing slaughter on every side.{% endblock %}

{% block p4 %}The sword was discovered at the bottom of a frozen lake in the heart of the Forest of Dean. It is said that this is where the Lady of the Lake dwelled. The founders kept the sword, uknowing it was the legendary sword of King Arthur, until their son pointed out the words 'Excallibur' etched into the pommel of the handle. The sword was taken to an expert blacksmith and historian, who were both able to identify it as Excalibur.{% endblock %}

{% block p5 %}The sword's creation dates back to the late 5th century - the same date King Arthur ruled. The sword is available for purchase on our site today{% endblock %}