{% extends 'knights_sword.html' %}

{% block item_page_title %}Thor's Hammer{% endblock %}

{% block header %}Mjöllnir, God of Thunder's Hammer{% endblock %}

{% block image %}src="/static/images/svalt.png"{% endblock %}
{% block image_info %}Svartalfheim. The location Mjöllnir was created{% endblock %}

{% block image_two %}src="/static/images/thor.png"{% endblock %}
{% block image_info_two %}The Norse God Thor using Mjöllnir to kill the giant Thrym{% endblock %}

{% block p1 %}Mjöllnir is the hammer of the thunder god, Thor, and the symbol of his power. Forged by dwarfs, the hammer never failed Thor; he used it as a weapon to crash down on the heads of giants and as an instrument to hallow people and things. Mjöllnir was stolen by the giant Thrym, who asked as ransom the hand of the goddess Freyja. When Freyja refused to go to Thrym, Thor masqueraded as her and succeeded in grabbing the hammer, which had been brought out to consecrate him as Thrym’s bride. Thor then slaughtered Thrym and the other giants with the hammer.{% endblock %}

{% block p2 %}The hammer has many marvelous qualities, including that of returning to the thrower like a boomerang; it is frequently carved on runic stones and funerary stelae. It would seem indeed as though the power of the thunder god, symbolized by his hammer, extended over all that had to do with the well-being of the community. It covered birth, marriage, and death, burial, and cremation ceremonies, weapons and feasting, travelling, land-taking, and the making of oaths between men. The famous weapon of Thor was not only the symbol of the destructive power of the storm, and of fire from heaven, but also a protection against the forces of evil and violence.{% endblock %}

{% block p3 %}The hammer was created when Thor's brother Loki, the trickster, cut off the long, golden hair of Thor’s wife, Sif. Enraged, Thor was about to kill Loki when the latter swore to go down to Svartalfheim, the land of the dwarves, who were renowned as the greatest smiths. There he would obtain a head of hair for Sif that was even more marvelous than the one he had lopped off - to which Thor consented.{%endblock %}

{% block p4 %}While in the smithies of the dwarves, Loki was able to acquire his prize, and, by cunningly challenging several dwarves to prove who was the best smith, he acquired several more treasures for the gods as well. Among these was Thor’s hammer, which was short in the handle. When Thor saw the hammer, the finest weapon in the universe despite its flaw, he agreed to let Loki live.{% endblock %}

{% block p5 %}Unlike Marvel's depiction of Mjöllnir, the hammer can be weilded by anyone - the user does not have to be deemed 'worthy'. Mjöllnir is one of the most powerful weapons in existence today and is capable of leveling mountains. Handle with caution!{% endblock %}