{% extends 'knights_sword.html' %}

{% block item_page_title %}Holy Grail{% endblock %}

{% block header %}The Holy Grail{% endblock %}

{% block image %}src="/media/images/hg-jesus2.jpg"{% endblock %}
{% block image_info %}A mosaic of the Last Supper where The Holy Grail's story begins{% endblock %}

{% block image_two %}src="/media/images/hg2.png"{% endblock %}
{% block image_info_two %}The Damsel of the Sanct Grael by Dante Gabriel Rossetti (1874){% endblock %}

{% block p1 %}The quest for the Holy Grail has obsessed everyone from medieval poets and crusading knights to modern churchmen, historians, archaeologists, filmmakers, novelists and Nazi leaders.{% endblock %}

{% block p2 %}The Holy Grail is the cup that Jesus Christ drank from at the Last Supper and that Joseph of Arimathea used to collect Jesus's blood at his crucifixion. It was smuggled across the Holy Land and Europe to Britain.{% endblock %}

{% block p3 %}After the Last Supper, the Grail came into the possession of Joseph of Arimathea, who caught Christ's blood in it at the crucifixion. Joseph went to prison, but the Grail kept him alive by supplying daily nourishment. Released from prison, Joseph traveled to France and then to Glastonbury, England, carrying the Holy Grail, which was lost to the world when he died. From there is was searched for by King Arthur and the knights who sat at his Round Table. {% endblock %}

{% block p4 %}The Holy Grail was discovered and was kept in secret and secure by the King and his successors in an attempt to discover its power. Today, the Grail's power is still a mystery as many tests have been conducted to uncover its power to no avail. Since Joseph of Arimathea used to cup to keep him alive, it is suggested that the cup 'chooses' its owner to reveal its powers as no one has been able to use it for the same reason. The only unordinary finding to date is that the cup is indestructable.{% endblock %}

{% block p5 %} The Holy Grail is currently for sale. Due to its history and significance, background checks will be made on the buyer to ensure it is being passed into respected hands{% endblock %}