<div class="bg-image">

{% extends 'base.html' %}

{% block page_title %}Ancient Artifacts | Home{% endblock %}



{% block page_heading %}Artifacts and Relics from the Ancient World{% endblock %}



{% block home_page_intro %}


<div class="container">
    <div class="row">
        <p class="intro_paragraph col-8 offset-2 fjord-one">This site provides you with the oportunity to purchase some of the rarest and most valued items from the ancient world. It provides you with information about the artifacts such as where they came from and their journey of events. There is, of
            course, only <b>1</b> of each of these ancient relics available for sale! You must have an account to continue</p>
    </div>
</div>





{% endblock %}

</div>