{% extends 'knights_sword.html' %}

{% block item_page_title %}Sandals of Jesus{% endblock %}

{% block header %}Sandals of Jesus{% endblock %}

{% block image %}src="/static/images/prumab.png"{% endblock %}
{% block image_info %}Prüm Abbey - Germany{% endblock %}

{% block image_two %}src="/static/images/prum-grounds.png"{% endblock %}
{% block image_info_two %}Prüm Abbey grounds, where the sandals where discovered{% endblock %}

{% block p1 %}The Sandals of Jesus Christ were among the most important relics of the Catholic Church in the Middle Ages and supposedly allows the wearer to walk on water. However, this still has not been made factual to date.{% endblock %}

{% block p2 %}The sandals are the remains of an ornate fabric shoe allegedly from the Merovingian period which spanned from the 5th to the 8th centuries, which were given to Prum Abbey (Germany) by Rome in the 7th century. They are considered to be among the most notable of the many relics of the world. They were passed on to King Pepin the Short in 754 as a gift from Pope Zachary and Pope Stephan II. Apart from its religious significance, the relic was the physical embodiment of the Frankish king's legitimation by the church.
{% endblock %}

{% block p3 %}The possession of important relics was a means of sustaining church influence and status. In order to compete with a powerful abbey it was important to acquire relics of similar provenance and significance. In the 12th Century the Roman Catholic Diocese of Trier became increasingly powerful and obtained a robe thought to belong to Jesus. Called the Seamless robe of Jesus, it was seen as more significant than the sandals. Over the following four centuries, Trier won the power struggle against Prüm and by 1524 had become the major pilgrimage destination. In 1574, Prüm became subordinated to Trier.{% endblock %}

{% block p4 %}Since Prum's subordination, the sandals became less significant to the church. The sandals were cast aside and forgotten about until 2006, when they were dicovered in the grounds of the Abbey during maintenence work. Unfortunately, the sandals have been heavily damaged amd as a result are very fragile and can not be worn. Archeologists have made every attempt to keep them clean and in tact.{% endblock %}

{% block p5 %}The Sandals are up for auction. Due to their delicacy, they should never be removed from the frame.{% endblock %}