{% extends 'knights_sword.html' %}

{% block item_page_title %}Genie's Lamp{% endblock %}

{% block header %}The Lamp of the Genie{% endblock %}

{% block image %}src="/static/images/lamp.png"{% endblock %}
{% block image_info %}The Genie emerging from the lamp{% endblock %}

{% block image_two %}src="/static/images/lamps.png"{% endblock %}
{% block image_info_two %}A market selling lamps. The syles are based on the Genie's Lamp{% endblock %}

{% block p1 %}Genie's lamp (alternatively referred to as the Magic Lamp) is a magical oil lamp whose owner has the ability to summon and temporarily control a wish-granting Genie with cosmic power. As it contains an all-powerful servant, the lamp has been coveted by many for thousands of years.{% endblock %}

{% block p2 %}The lamp has existed for millennia, though it's origins are unknown. As one of the most powerful objects in the universe, the lamp was hidden deep within a cave that could only be enter by a King or Prince. {% endblock %}

{% block p3 %}The lamp itself resembles an oil lamp, which have been used as "genie lamps" in Arabian folklore for generations. It is completely gold in color. The interior was described by Genie as very cramped and small. Despite this, the interior has been fully seen as part of the Inside the Genie's Lamp featurette, in which the lamp boasts a large living room, dining room, a master bedroom with a "fly in" closet, and even a garden decorated with topiaries, flora, and water features.{% endblock %}

{% block p4 %}Additional areas that are mentioned (but unseen) include a ballroom and a breakfast nook. To call on the Genie of the Lamp, the owner must rub the lamp several times before the Genie appears from the spout of the lamp. The Genie will then grant the user with three wishes.{% endblock %}

{% block p5 %}The Genie's Lamp is currently up for auction on our site{% endblock %}