{% extends 'knights_sword.html' %}

{% block item_page_title %}Mask of Tutankhamun{% endblock %}

{% block header %}Mask of Tutankhamun{% endblock %}

{% block image %}src="/static/images/tut_mask.png"{% endblock %}
{% block image_info %}Tutankhamun's burial mask on display in Cairo's museum{% endblock %}

{% block image_two %}src="/static/images/tut_coffin.png"{% endblock %}
{% block image_info_two %}The inner most coffin{% endblock %}

{% block p1 %}The mask of Tutankhamun is a gold death mask of ancient Egyptian Pharaoh Tutankhamun. It was discovered by Howard Carter in 1925 in tomb KV62 in the Valley of the Kings. The mask is one of the best-known works of art in the world.{% endblock %}

{% block p2 %}Tutankhamun's burial chamber was found at the Theban Necropolis in the Valley of the Kings in 1922 and opened in 1923. Two years later the excavation team, led by the English archaeologist Howard Carter, openend sarcophagus containing Tutankhamun's mummy. On 28 October 1925, they opened the innermost of three coffins to reveal the gold mask, seen by people for the first time in approximately 3,250 years. In December 1925, the mask was removed from the tomb and put on display in Cairo's museum where it stayed for 85 years before being moved on for auction.{% endblock %}

{% block p3 %}The mask is 54 cm tall, 39.3 cm wide and 49 cm deep. It is fashioned from two layers of high-karat gold and weighs 10.23 kg. The mask contains two alloys of gold. 18.4 karat shade for the face and neck, and 22.5 karat gold for the rest of the mask. The face represents the pharaoh's standard image, and the same image was found by excavators elsewhere in the tomb. He wears a nemes headcloth, topped by the royal insignia of a cobra and vulture, symbolising Tutankhamun's rule of both Lower Egypt and Upper Egypt respectively. {% endblock %}

{% block p4 %}The ears are pierced to hold earrings, a feature that appears to have been reserved for queens and children in almost all surviving ancient Egyptian works of art. It contains inlays of coloured glass and gemstones, including lapis lazuli, quartz, obsidian, carnelian, feldspar, turquoise, amazonite, faience and other stones.{% endblock %}

{% block p5 %}The mask is currently up for auction and should be cleaned by professionals weekly{% endblock %}