{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Ancient Artifacts | Products{% endblock %}

{% block home_page %}<a  href="{% url 'index' %}" <i class="fas fa-home page_links"></i> Home</a>{% endblock %}

<!--Displays the cart-->

{% block cart_page %}
    <a  href="{% url 'view_cart' %}" class="fas fa-cart-arrow-down page_links">
        {% if product_count > 0 %}
            <label class="badge badge-info">{{ product_count }}</label>
        {% endif %}
    View Cart</a>
{% endblock %}



{% block page_heading %}Ancient Artifacts{% endblock %}


{% block content %}


<!--Search bar-->


<div class="container">
    <div class="row">
        <div class="col-sm search_bar">
            <form action="{% url 'search' %}" method="GET">
                <input class="search_box shadow_remove" type="text" name="a">
                <button class="search_button shadow_remove" type="submit">Search Artifact</button>
            </form>
        </div>
    </div>
</div>


<!--Displays the list of products-->


<div class="container">
    {% for product in products %}
    <div class="row">
        <div class="product_image col-sm" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
        <div class=".col-md-6 .offset-md-3">
            <div class="text product_price">£ {{ product.price }}</div>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group padding_top">
                    <input class="shadow_remove width_100" name="quantity" type="number" min="1" max="1" value='1' class="form-control" placeholder="Quantity">
                    <span>
                    <button class="shadow_remove bid_buy_buttons padding_top10" type="submit">Buy Now and Add to cart</button>
                </span>
                </div>
            </form>
            <div class="padding-top-30px">
                <a class="bid_buy_buttons individual-link-display-smaller-screen" href="{% url 'product_detail' product.id %}">Click here to bid on this item</a>
            </div>
        </div>

        <div class="text col-sm">{{ product.name }}
            <hr class="product_name_hr">
            <div class="text product_title_and_description col-sm">{{ product.description|truncatewords:30 }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}