{% extends 'base.html' %}

{% block page_title %}Ancient Artifacts | Products{% endblock %}

{% block home_page %}<a  href="{% url 'index' %}" class="btn btn-primary">Home</a>{% endblock %}
{% block cart_page %}<a  href="{% url 'view_cart' %}" class="btn btn-primary">View Cart</a>{% endblock %}
{% block page_heading %}Please find a list of Ancient Artifacts{% endblock %}


{% block content %}


<div class="display">
    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="a">
        <button type="submit">Search Artifact</button>
    </form>
</div>

<a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>

<div class="container">
    {% for product in products %}

    <div class="display panel panel-default">

        <div class="panel-body">

            <div class="product_image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <div class="bid_and_buy">{{ product.price }}</div>
            <div class="product_title_and_description">{{ product.name }} {{ product.description }}</div>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}

                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="1" class="form-control" placeholder="Quantity">
                    <span>
                <button class="btn btn-success" type="submit">Buy Now and Add to cart</button>
                    </span>
                </div>
            </form>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}