@import url('https://fonts.googleapis.com/css?family=Raleway|Cormorant+Garamond|Libre+Caslon+Display|Livvic|Montserrat|Open+Sans+Condensed:300|Fjord+One|Special+Elite|Vesper+Libre&display=swap');

/*-------------fonts------------*/

body {
    background-image: url(/static/css/bg-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.special-elite {font-family: 'Special Elite', cursive;}
.vesper-libre {font-family: 'Vesper Libre', serif;}
.fjord-one {font-family: 'Fjord One', serif;}
.Cormorant_Garamond {font-family: 'Cormorant+Garamond', serif;}
.Libre_Caslon_Display {font-family: 'Libre+Caslon+Display', serif;}
.Livvic {font-family: 'Livvic', serif;}
.Montserrat {font-family: 'Montserrat', serif;}
.Open_Sans_Condensed {font-family: 'Open+Sans+Condensed:300', serif;}
.white_font {color: #e3dfd0;}

form {
    width: 50%;
}


.text {
    letter-spacing: 2px;
    line-height: 2;
    font-size: 20px;
    text-transform: uppercase;
    color: #e3dfd0;
    font-family: 'Montserrat', serif;
}


.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.page_title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 60px;
    text-shadow: 1px -1.5px #968857;
    color: #F8F8F6;
    text-transform: capitalize;

}

.product_image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}




/*----------------Home page-------------*/

.intro_paragraph {
    padding-top: 35px;
    text-align: center;
}

.carousel-caption{
    color: black;
}


/*-----------------Item Pages------------*/


.item-page-header {
    
}

.chapel-container {
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-bottom: 0px;
}

.jacques-image-container{
    width: 20%;
    float: right;
    margin-left: 60px;
    margin-bottom: 20px;
    color: #cac7be;
}

.chapel {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: #cac7be;
}


.item-page-text{
    font-family: 'Raleway', serif;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1.7;
}


/*----------------Products page-------------*/


.carousel-images{
    width: 300px;
    height: 300px;
    text-align: center;
}

.product_title_and_description {
    font-size: 14px;
}

.search_bar{
    padding-bottom: 50px;
    padding-top: 20px;
}

.search_button {
    background-color: transparent;
    border: none;
    color: white;
    text-transform: capitalize;
}


.search_box {
    border: none;
    background: transparent;
    border-color: white;
    border-bottom: inset;
}

.shadow_remove:focus {
  border-color: #FFFFFF;
  outline: none;
}

.bid_buy_buttons{
    background: transparent;
    color: antiquewhite;
    border: none;
    text-decoration: underline;
    font-size: 20px;
}

.width_100 {
    width: 100%;
}

.padding_top{
    padding-top: 25px;
}

.product_price {
    padding-bottom: 20px;
    font-size: 30px;
}