{% extends 'base.html' %}

{% load static from staticfiles %}

{% load bootstrap_tags %}


<!--Javascript for payment through Stripe-->

{% block head_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}






{% block content %}


<!--Displays the product in the cart on the checkout page-->


<div class="container">
    {% for item in cart_items %}
    
    <div class="col-6 display panel panel-display">
        
        <div class="product_image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div class="caption text">
            <h3>{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description|truncatewords:20 }}</p>
            <p>{{ item.product.price }}</p>
            <p>{{ item.product.quantity }}</p>
            
        </div>
    </div>
    {% endfor %}
    
    <div class="row">
    
    <p class="text">Total</p>
    <p class="text"><span class="text" aria-hidden="true"></span>{{ total }}</p>
</div>
    
</div>


<!--checkout form-->


<div class="container">
<form role="form" method="post" id="payment-form" class="checkout_form" action="{% url 'checkout' %}">
    <legend class="text">Payment Details</legend>

    {% csrf_token %}

    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="row">
    <div class="form-group col-6 text">
        {{ order_form | as_bootstrap }}
    </div>
    <div class="form-group col-6 text">
        {{ payment_form | as_bootstrap }}
    </div>
    </div>
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
</div>

{% endblock %}
