 {% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Ancient Artifacts | Cart Items{% endblock %}

{% block home_page %}<a  href="{% url 'index' %}" class="fas fa-home page_links"> Home</a>{% endblock %}
{% block products_page %}<a  href="{% url 'products' %}" class="fas fa-arrow-circle-left page_links"> Back to Products</a>{% endblock %}

{% block page_heading %}Your Shopping Cart{% endblock %}


{% block content %}


<!--Display the items in the cart-->


<div class="container">
    {% for item in cart_items %}

<div class="row">

    <div class="">

        <div class="product_image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

        <div class="caption text">
            <h3>{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description|truncatewords:20 }}</p>
            <p>£ {{ item.product.price }}</p>
            <p>

                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Enter '0' to remove from cart</div>
                            <input name="quantity" type="number" min="0" max="0" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="bid_buy_buttons place_bid_button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                </form>
            </p>
        </div>

        </div>

        

        {% endfor %}

    </div>
</div>



<!--Displays the total for items in cart-->




<div class="container padding_top40">
    <div class="row">
        <div>
            <p class="text"> Total: </p>
            <p class="text"> <span class="text" aria-hidden="true"></span>£ {{ total }}</p>
        </div>
        <div>
            <a href="{% url 'checkout' %}" class="text" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
    </div>
</div>
{% endblock %}